<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/workshop.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/galleryStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- SCROLL ANIMATION PACKAGE -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- SCROLL ANIMATION PACKAGE -->

    <title>Srijan 3.0</title>
</head>

<body>

    <%- include("./partials/landing.ejs") %>

    <%- include("./partials/menu.ejs") %>

    <div id="aboutUsSection" class="about">
        <%- include("partials/about") %>
    </div>
    <%- include("./partials/galleryPhotos.ejs") %>

    <div class="workshop">
        <%- include("partials/workshop.ejs") %>
    </div>
    <%- include("./partials/footer.ejs") %>

    <script src="/js/menu.js"></script>
    <script src="/js/landing.js"></script>
    <script src="/js/about.js"></script>
    <script src="/js/galleryApp.js"></script>

    <!-- SCROLL ANIMATION PACKAGE -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            delay: 0,
            duration: 1000,
        });
    </script>
    <!-- SCROLL ANIMATION PACKAGE -->
</body>

</html>