<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/eventlist.css" />
    <link rel="stylesheet" href="/css/workshop.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/galleryStyle.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/preAnnouncement.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/ourSpeakers.css" />

    <!-- SCROLL ANIMATION PACKAGE -->
    <link rel="stylesheet" href="/css/aos.css" />
    <!-- SCROLL ANIMATION PACKAGE -->

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Srijan 3.0</title>
  </head>

  <body>
    <%- include("./partials/loader.ejs") %> <%-
    include("./partials/landing.ejs") %> <%- include("./partials/menu.ejs") %>

    <div id="aboutUsSection" class="about">
      <%- include("partials/about") %>
    </div>
    <%- include("./partials/galleryPhotos.ejs") %>

    <div class="eventList">
        <%- include("partials/eventlist") %>
        <!-- <%- include("./partials/preAnnouncement.ejs", {heading: {first: "Event", second: "List"}}) %> -->
    </div>
    <div class="workshop">
        <!-- <%- include("partials/workshop.ejs") %> -->
        <%- include("./partials/preAnnouncement.ejs", {heading: {first: "Workshop", second: "List"}}) %>
    </div>

    <%- include("./partials/ourSpeakers.ejs") %>
    <%- include("./partials/footer.ejs") %>

    <script src="/js/loader.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/landing.js"></script>
    <script src="/js/about.js"></script>
    <script src="/js/galleryApp.js"></script>
    <!-- <script src="/js/eventlist.js"></script> -->

    <!-- SCROLL ANIMATION PACKAGE -->
    <script src="/js/aos.js"></script>
    <script>
      AOS.init({
        offset: 250,
        delay: 0,
        duration: 1000,
      });
    </script>
    <!-- SCROLL ANIMATION PACKAGE -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
        var $owl = $('.owl-carousel');

        $owl.children().each( function( index ) {
            $(this).attr( 'data-position', index );
        });

        $owl.owlCarousel({
            center: true,
            loop: true,
            margin:270,
            autoplay:true,
            autoplayTimeout:3000,
            smartSpeed:750,
            responsiveClass:true,
            responsive:{
              0:{
                items:1,
              },
              768:{
                items:2,
                center:true,
              }
            }
        });

        $(document).on('click', '.owl-item>div', function() {
            var $speed = 300;
            $owl.trigger('to.owl.carousel', [$(this).data( 'position' ), $speed] );
        });
    </script>
  </body>
</html>
